@use 'reset';
@use 'variables' as *;
@use 'mixins';

html {
  font-size: 16px;
}

body {
  background-color: $color-neutral-50;
  color: $color-neutral-900;
}

.App {
  padding: $spacing-6;
  max-width: 1200px;
  margin: 0 auto;
}
